<h1 clas="titulo mt-4">Listado de Recetas</h1>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col" *ngFor="let item of recetaURL">
    <div class="card" style="max-width: 400px">
      <img
        [src]="item.strMealThumb"
        class="card-img-top"
        alt="{{ item.strMeal }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ item.strMeal }}</h5>
        <p class="card-text">{{ item.strCategory }}</p>
        <!--Se accede a los diferentes campos seleccionado de la receta-->
        <button
          class="btn btn-primary"
          [routerLink]="['/detalles', item.idMeal]"
        >
          Ver detalle
        </button>
        <!--A través de este botón se crea una ruta al componente de detalles en el cual se accede a traves de id-->
      </div>
    </div>
  </div>
</div>
